/* Start Var */
:root {
  --main-color: #00d7e6;
  --secondary-color: #111;
  --hover-color: #00aab6;
  --box-shadow-color: #00aab69d;
  --gray-color: #cacaca;
  --main-transition: .3s;
  --section-padding: 100px;
} 
/* End Var */

/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  /* direction: rtl; */
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* End Global Rules  */

/* Start Create Custom Scrollbars */
::-webkit-scrollbar {
  width: 22px;
  transition: var(--main-transition);
}
::-webkit-scrollbar-track {
  background-color: #222;
  /* box-shadow: 0 0 11px #555 inset; */
  border-radius: 100vw;
  margin-block: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: var(--main-color);
  transition: var(--main-transition);
  border: 4px solid #222;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}
/* End Create Custom Scrollbars */

/* Start Global Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Global Rules */

/* Start Components */
.main-title {
  color: #ececec;
  width: fit-content;
  position: relative;
  margin: 0 auto 80px auto;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
  letter-spacing: -1.7px;
  border: 2px solid var(--main-color);
  transition: var(--main-transition);
  z-index: 999;
}

.main-title:hover {
  color: black;
  border: 2px solid black;
  transition-delay: .5s;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -40px;
}
.main-title::after {
  right: -40px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move .5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move .5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 17px;
    height: 17px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 17px;
    height: 17px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
/* Start Components */

/* Start Animation Blocks */
@keyframes appear {
  form {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
/* End Animation Blocks */

/* Start Header */
.header {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px #444;
  position: relative;
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 22px;
  font-weight: 800;
  color: var(--main-color);
  transition: var(--main-transition);
}

.header .container .logo:hover {
  color: var(--hover-color);
}

.header .container .main-nav {
  display: flex;
  align-items: center;
}

.header .container .main-nav > li > a {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: var(--main-color);
  font-size: 17px;
  font-weight: 400;
  transition: var(--main-transition);
}

.header .container .main-nav > li > a:hover {
  color: #ececec;
  background-color: #00ac872d;
}

.header .container .main-nav > li a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 0%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.header .container .main-nav > li a:hover::before {
  width: 100%;
}

.header .container .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  width: 100%;

  display: flex;
  gap: 60px;
  background-color: var(--secondary-color);
  border-bottom: 4px solid var(--main-color);
  padding: 20px;
  
  transition: top var(--main-transition), opacity var(--main-transition);
  opacity: 0;
  z-index: -1;
}

.header .container .mega-menu .image img {
  max-width: 100%;
}

.header .container .mega-menu .links {
  min-width: 250px;
  flex: 1;
}

.header .container .mega-menu .links li {
  position: relative;
}

.header .container .mega-menu .links li:not(li:last-child) {
  border-bottom: 1px solid #333;
}

.header .container .mega-menu .links li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  z-index: 91;
}

.header .container .mega-menu .links li a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: #00ac871a;
  transition: var(--main-transition);
}

.header .container .mega-menu .links li a:hover {
  color: #ececec;
}

.header .container .mega-menu .links li a:hover::before {
  width: 100%;
}

.header .container .mega-menu .links li a i {
  margin-right: 10px;
}

.header .container .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 99;
  top: calc(100% + 1px);
}

@media(max-width: 768px) {
  .header .container {
    height: 80px;
    padding-bottom: 0;
    flex-direction: column;
  }
  .header .container .logo {
    font-size: 21px;
  }
  .header .container .main-nav > li > a {
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
  }

  .header .container .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
  .header .container .mega-menu .links li {
    border-bottom: 1px solid #333;
  }
  .header .container .mega-menu .links:nth-child(3) li:last-child {
    border-bottom: none;
  }
}

@media(max-width: 992px) {
  .header .container .mega-menu .image {
    display: none;
  }
}
/* End Header */

/* Start landing */
.landing {
  height: calc(100vh - 100px);
  padding-top: 30px;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #111;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .container .text h1 {
  color: #ececec;
  margin: 10px 0;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -2.5px;
}

.landing .container .text h1 span {
  color: var(--main-color);
}

.landing .container .text p {
  font-size: 22px;
  font-weight: 400;
  color: var(--gray-color);
  line-height: 1.5;
}

.landing .container .image img {
  width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}

@keyframes up-and-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -30px;
  }
}

.landing .go-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: var(--main-color);
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--hover-color);
}


.landing .go-down i {
  font-size: 30px;
  animation: boucing 1.5s infinite;
}

@keyframes boucing {
  0%,
  10%,
  20%, 
  30%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}

@media (max-width: 992px) {
  .landing::before {
    background-image: url(media/land2.jpg);
    background-size: cover;
    opacity: 0.3;
    height: 100%;
  }
  .landing .container .text {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -180%);
    text-align: center;
    width: 800px;
    max-width: 100%;
  }
  .landing .container .image {
    display: none;
  }
  .landing .container .text {
    margin: 100px auto;
    text-align: center;
    width: 700px;
  }
}

@media (max-width: 768px) {
  .landing::before {
    height: 90%;
  }
  .landing .go-down {
    bottom: 50px;
  }
  .landing .container .text h1 {
    font-size: 28px;
  }
  .landing .container .text {
    padding: 0 20px;
  }
  .landing .container .text p {
    font-size: 18px;
  }
}
/* End landing */

/* Start Article */
.article {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.article .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.article .container .card {
  background-color: #111;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 10px #444;
  transition: var(--main-transition);
}

.article .container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 12px var(--box-shadow-color);
}

.article .container .card .text {
  padding: 20px;
  color: #ececec;
}

.article .container .card .text h1 {
  margin: 0;
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: 700;
}

.article .container .card .text p {
  color: var(--gray-color);
  padding: 10px 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 1.7;
}

.article .container .card .read-more {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid black;
  transition: var(--main-transition);
}

.article .container .card .read-more:hover h3 {
  color: var(--hover-color);
}

.article .container .card .read-more:hover i {
  animation: boucing-right 0.6s linear infinite;
}

@keyframes boucing-right {
  100% {
    transform: translateX(10px);
  }
}

.article .container .card .read-more h3 {
  color: var(--main-color);
  font-size: 14px;
  cursor: pointer;
  transition: var(--main-transition);
}

.article .container .card .read-more i {
  color: var(--main-color);
}

.article .container .card .image img {
  max-width: 100%;
}

@media (max-width: 1170px) {
  .article .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
/* End Article */

/* Start Gallery */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #111;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.gallery .container .box {
  padding: 20px;
  background-color: #222;
  box-shadow: 0 0 10px #444;
  transition: var(--main-transition);
}

.gallery .container .box .image {
  overflow: hidden;
  position: relative;
}

.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background-color: rgba(255, 255, 255, 20%);
  transition: .1s;
  z-index: 1;
}

.gallery .container .box .image:hover::before {
  animation: flashing .7s;
}

@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* Start Gallery */

/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .box {
  background-color: #111;
  box-shadow: 0 0 10px #444;
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition);
}

.features .container .box .image {
  position: relative;
  overflow: hidden;
}

.features .container .box .image img {
  max-width: 100%;
}

.features .container .box .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  opacity: .3;
}

.features .container .box.quality .image::before {
  background-color: #ff3c00;
}
.features .container .box.time .image::before {
  background-color: #068bf7;
}
.features .container .box.passion .image::before {
  background-color: #ff004c;
}

.features .container .box .image::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent #111 transparent;
  transition: var(--main-transition);
}

.features .container .box:hover .image::after {
  border-width: 170px 500px 170px 0px;
}

.features .container .box .details {
  text-align: center;
}

.features .container .box .details h1 {
  color: #ececec;
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 700;
  padding-bottom: 10px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.features .container .box .details h1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  width: 70%;
  height: 6px;
}

.features .container .box.quality .details h1::before {
  background-color: #ff3c00;
}
.features .container .box.time .details h1::before {
  background-color: #068bf7;
}
.features .container .box.passion .details h1::before {
  background-color: #ff004c;
}

.features .container .box .details p {
  color: #888;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  padding: 30px 10px;
}

.features .container .box .btn {
  display: flex;
  justify-content: center;
  padding: 40px 0 20px;
}

.features .container .box .btn a {
  z-index: 99;
}

.features .container .box .btn button {
  color: #ececec;
  margin: 20px auto;
  display: block;
  border: 3px solid;
  padding: 10px 23px;
  background-color: transparent;
  border-radius: 8px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  transition: var(--main-transition);
  border-radius: 10px;
}

.features .container .box.quality .btn button {
  border-color: #ff3c00;
}
.features .container .box.quality .btn button {
  color: #ff3c00;
}

.features .container .box.time .btn button {
  border-color: #068bf7;
}
.features .container .box.time .btn button {
  color: #068bf7;
}

.features .container .box.passion .btn button {
  border-color: #ff004c;
}
.features .container .box.passion .btn button {
  color: #ff004c;
}

.features .container .box .btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: var(--main-transition);
  z-index: -1;
}

.features .container .box.quality .btn button::before {
  background-color: #ff3c00;
}
.features .container .box.time .btn button::before {
  background-color: #068bf7;
}
.features .container .box.passion .btn button::before {
  background-color: #ff004c;
}

.features .container .box:hover .btn button::before {
  width: 100%;
}
.features .container .box:hover .btn button {
  color: #ececec;
}

.features .container .box.quality:hover {
  box-shadow: 0 0 12px #ff3c0086;
  transform: translateY(-10px);
}
.features .container .box.time:hover {
  box-shadow: 0 0 12px #068bf783;
  transform: translateY(-10px);
}
.features .container .box.passion:hover {
  box-shadow: 0 0 12px #ff004c83;
  transform: translateY(-10px);
}
/* End Features */

/* Start Testimonials */
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #111
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 30px;
  row-gap: 70px;
}

.testimonials .container .card {
  position: relative;
  background-color: #222;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px #555;
  padding: 20px 20px 10px 20px;
  color: #ececec;
  transition: var(--main-transition);
}

.testimonials .container .card:hover {
  box-shadow: 0 0 12px var(--box-shadow-color);
  transform: translateY(-10px);
}

.testimonials .container .card:hover .image {
  /* animation: rot .3s ease-in-out; */
  box-shadow: 0 0 20px #111;
}

@keyframes rot {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.testimonials .container .card .image {
  position: absolute;
  top: -50px;
  right: -10px;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: #111;
  cursor: pointer;
  transition: var(--main-transition);
}

.testimonials .container .card .image img {
  width: 100%;
  border-radius: 50%;
}

.testimonials .container .card h3 {
  cursor: pointer;
  width: fit-content;
  transition: var(--main-transition);
  color: var(--main-color);
}

.testimonials .container .card h3:hover {
  color: var(--hover-color);
}

.testimonials .container .card p {
  font-size: 15px;
  padding: 8px 0;
  color: var(--gray-color);
  line-height: 1.6;
}

.testimonials .container .card p.specialty {
  color: var(--hover-color);
}

.testimonials .container .card .stars .fa-solid {
  color: #FFC107;
}
/* End Testimonials */

/* Start Team Members */
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team .container .box {
  position: relative;
}

.team .container .box::before,
.team .container .box:after {
  content: "";
  position: absolute;
  background-color: #222;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}

.team .container .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

.team .container .box::after {
  width: 0;
  z-index: -1;
  background-color: #111;
}

.team .container .box:hover::after {
  width: calc(100% - 60px);
}

.team .container .box .data {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.team .container .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
  filter: brightness(0.8);
}

.team .container .box:hover .data img {
  filter: brightness(0.4);
}

.team .container .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.team .container .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}

.team .container .box .data .social i {
  color: #777;
  font-size: 20px;
}

.team .container .box .data .social a:hover i {
  color: var(--hover-color);
}

.team .container .box .details {
  padding-left: 80px;
  padding-top: 20px;
}

.team .container .box .details h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}

.team .container .box .details p {
  margin-top: 10px;
  margin-bottom: 25px;
  color: #888;
}

.team .container .box:hover .details h3 {
  color: #888;
}

@media (max-width: 678px) {
  .team .container .box::before {
    width: 100%;
  }
  .team .container .box:hover::after {
    width: 100%;
  }
}
/* End Team Members */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #111
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .box {
  background-color: #222;
  box-shadow: 0 0 8px #333;
  position: relative;
  counter-increment: services;
  transition: var(--main-transition);
}

.services .container .box:hover {
  box-shadow: 0 0 8px var(--box-shadow-color);
  transform: translateY(-10px);
}

.services .container .box::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 50%;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 50%;
  box-shadow: 0 0 80px var(--box-shadow-color);
}

.services .container .box::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .box:hover::after {
  width: 50%;
  box-shadow: 0 0 20px var(--box-shadow-color);
}

.services .container .box i {
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.services .container .box h3 {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1.7px;
  padding-bottom: 40px;
}

.services .container .box .info {
  padding: 15px;
  position: relative;
  background-color: #292929;
  text-align: right;
  transition: var(--main-transition);
}

.services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: #111;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.services .container .box .info::after {
  content: "";
  position: absolute;
  background-color: #333;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skew(-30deg);
}

.services .container .box .info a {
  color: var(--main-color);
  transition: var(--main-transition);
}

.services .container .box .info a:hover {
  color: var(--hover-color);
}
/* End Services */

/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-skills .container {
  display: flex;
  align-items: center;
}

.our-skills .container .skills {
  flex: 1;
}

.our-skills .container .skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
}

.our-skills .container .skills .skill h3 span {
  font-size: 12px;
  font-weight: 400;
  border: 1px solid var(--main-color);
  padding: 3px 4px;
  border-radius: 4px;
  color: var(--main-color);
  position: relative;
}
.our-skills .container .skills .skill h3 span::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 10px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: var(--hover-color) transparent transparent transparent;
}

.our-skills .container .skills .skill .progress {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 20px 0;
  background-color: #222;
  border-radius: 6px;
  overflow: hidden;
}

.our-skills .container .skills .skill .progress span {
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
}

@media (max-width: 992px) {
.our-skills .container img {
  display: none;
}
}
/* End Skills */

/* Start How It Works */
.how-works {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #111
}

.how-works .container {
  display: flex;
  align-items: center;
}

.how-works .container .main-img {
  max-width: 100%;
}

.how-works .container .boxes {
  flex: 1;
  margin-left: 100px;
}

.how-works .container .boxes .box {
  background-color: #222;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 6px;
  box-shadow: 0 0 10px #333;
  transition: var(--main-transition);
}

.how-works .container .boxes .box:hover {
  border: 2px solid #00ac8742;
}

.how-works .container .boxes .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 2%);  
  width: 0;
  height: 0;
  z-index: 1;
  transition: var(--main-transition);
}

.how-works .container .boxes .box:hover::before {
  width: 100%;
  height: 100%;
}

.how-works .container .boxes .box img {
  width: 64px;
  margin-right: 30px;
}

.how-works .container .boxes .box .info h3 {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -1.7px;
  margin-bottom: 16px;
  color: var(--main-color);
}

.how-works .container .boxes .box .info p {
  font-size: 18px;
  color: var(--gray-color);
  line-height: 1.6;
}

@media (max-width: 992px) {
  .how-works .container {
    flex-direction: column;
    gap: 50px;
  }
  .how-works .container .main-img {
    max-width: 80%;
  }
  .how-works .container .boxes {
    margin: 0;
  }
  .how-works .container .boxes .box {
    flex-direction: column;
    text-align: center;
  } 
  .how-works .container .boxes .box img {
    margin: 0 0 30px;
  }
}
/* Start How It Works */

/* Start Events */
.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.events .container img {
  max-width: 450px;
}

.events .container .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.events .container .info .time {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ececec;
}

.events .container .info .time .unit {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition);
  background-color: #0c0c0c;
  cursor: context-menu;
  transition: var(--main-transition);
}

.events .container .info .time .unit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 4%);   
  width: 0;
  height: 0;
  /* z-index: 1; */
  transition: var(--main-transition);
}

.events .container .info .time .unit:hover::before {
  width: 100%;
  height: 100%;
}

.events .container .info .time .unit:hover {
  box-shadow: 0 0 10px var(--box-shadow-color);
  border: 1px solid #4cf9ff;
}

.events .container .info .time span {
  display: block;
}

.events .container .info .time span:first-child {
  font-size: 35px;
  font-weight: 700;
  color: var(--main-color);
  padding: 15px;
  color: var(--main-color);
}

.events .container .info .time span:last-child {
  padding: 8px 0;
  font-size: 13px;
  border-top: 1px solid var(--main-color);
}

.events .container .info .text {
  text-align: center;
}

.events .container .info .text h3 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  padding-bottom: 15px;
}

.events .container .info .text p {
  font-size: 17px;
  color: #777;
  line-height: 1.7;
}

.events .container .subscribe {
  width: 100%;
  margin-top: 50px;
}

.events .container .subscribe form {  
  width: 600px;
  background-color: #111;
  margin: 20px auto;

  display: flex;
  padding: 30px;
  border-radius: 50px;
  gap: 40px;
}

.events .container .subscribe form input[type="email"] {
  flex: 1;
  padding: 20px;
  color: #ececec;
  background-color: #222;
  font-size: 17px;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  caret-color: #ececec;
  transition: var(--main-transition);
}

.events .container .subscribe form input:focus {
  outline: none;
  box-shadow: 0 0px 15px #333 inset;
}

.events .container .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}

.events .container .subscribe form input:focus::placeholder {
  opacity: 0;
}

.events .container .subscribe form input[type="submit"] {
  background-color: var(--main-color);
  border-radius: 50px;
  padding: 20px;
  letter-spacing: -0.5px;
  border: none;
  color: black;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: var(--main-transition);
}

.events .container .subscribe form input[type="submit"]:hover {
  background-color: var(--hover-color);
  box-shadow: 0 0px 10px var(--box-shadow-color);
}

@media (max-width: 992px) {
  .events .container img {
    display: none;
  }
  .events .container .info {
    text-align: center;
  }
  .events .container .info .text h3 {
    font-size: 27px;
  }
  .events .container .info .text p {
    font-size: 14px;
  }
}

@media (max-width: 667px) {
  .events .container .info .text h3 {
    font-size: 27px;
    margin-top: 40px;
  }
  .events .container .info .text p {
    font-size: 14px;
  }

  .events .container .subscribe form {
    max-width: 100%;
    border-radius: 5px;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }
  .events .container .subscribe form input[type="email"] {
    border-radius: 5px;
  }
  .events .container .subscribe form input[type="submit"] {
    border-radius: 5px;
  }
}
/* End Events */

/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #111;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .container .card {
  background-color: #222; 
  box-shadow: 0 0 10px #444;
  overflow: hidden;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.pricing .container .card:hover {
  box-shadow: 0 0px 10px var(--box-shadow-color);
}

.pricing .container .card::before,
.pricing .container .card::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7%);  
  width: 0;
  height: 50%;
  transition: var(--main-transition);
}
.pricing .container .card::before {
  top: 0;
  left: 0;
}
.pricing .container .card::after {
  bottom: 0;
  right: 0;
}
.pricing .container .card:hover::before,
.pricing .container .card:hover::after {
  width: 100%;
}

.pricing .container .popular {
  position: relative;
  transform: translateY(-30px);
}

.pricing .container .popular .label {
  position: absolute;
  color: black;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
.pricing .container .popular .label::before {
  content: "";
  position: absolute; 
  bottom: -1px;
  left: 0;
  border: 20px solid;
  border-color: transparent transparent #222 transparent;
  width: 0;
  height: 0;
  transition: var(--main-transition);
}

.pricing .container .card .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: #ececec;
}

.pricing .container .card .head h3 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1.5px;
  padding-bottom: 30px;
}

.pricing .container .card .head > i {
  font-size: 100px;
  margin-bottom: 30px;
  color: var(--main-color);
}

.pricing .container .card .head .price {
  font-size: 60px;
  font-weight: 700;
  color: var(--main-color);
  padding-bottom: 5px;
}

.pricing .container .card .head span {
  color: #777;
  font-size: 16px;
  letter-spacing: -1px;
}

.pricing .container .card .info li {
  font-size: 18px;
  font-weight: 400;
  color: #888;
  letter-spacing: -1px;
  padding: 20px;
  border-top: 1px solid #333;
}

.pricing .container .card .info li i {
  margin-right: 5px;
  color: var(--main-color);
}

.pricing .container .card a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  text-decoration: none;
}

.pricing .container .card a button {
  background-color: transparent;
  color: var(--main-color);
  border: 3px solid var(--main-color);
  padding: 15px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -1px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: 99;
}

.pricing .container .card a button:hover {
  color: black;
  background-color: var(--hover-color);
  border: 3px solid var(--hover-color);
}

@media (max-width: 1200px) {
  .pricing .container .popular {
    transform: translateY(0);
  }
}
/* End Pricing */

/* Start Videos */
.videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.videos .container {
  display: flex;
  justify-content: center;
}

.videos .container .holder {
  color: #ececec;
  flex: 1;
  min-width: 300px;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid #222;
}

.videos .container .holder .name {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px ;
  background-color: #111;
  font-size: 16px;
  font-weight: bold;
}

.videos .container .holder .list .video {
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .container .holder .list .video:not(:last-child) {
  border-bottom: 1px solid #222;
}

.videos .container .holder .list .video:hover {
  background-color: #111111a1;
  box-shadow: 0 0 8px #444;
}

.videos .container .holder .list .video:hover h4 {
  color: var(--main-color);
}

.videos .container .holder .list .video h4 {
  font-size: 15px;
  font-weight: 500;
  color: #ececec;
  margin-bottom: 10px;
  transition: var(--main-transition);
}

.videos .container .holder .list .video span {
  color: #777;
}

.videos .container .preview {
  background-color: #1f1e1eb7;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  border-right: 2px solid #222;
}

.videos .container .preview img {
  max-width: 100%;
}

.videos .container .preview h4 {
  background-color: #222;
  color: #ececec;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .videos .container {
    flex-direction: column;
  }
  .videos .container .list {
    border: 2px solid #222;
  }
  .videos .container .preview {
    border: 2px solid #222;
  }
  .videos .container .preview img {
    width: 100%;
    padding-bottom: 15px;
  }
  .videos .container .preview {
    text-align: center;
  }
}
/* End Videos */

/* Start Stats */
.stats {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  background-image: url(media/stats1.jpg);
  background-size: cover;
  box-shadow: 0 0 350px black inset;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2222223b; /* Semi-transparent white overlay */
  pointer-events: none; /* Ensure it doesn't block interactions */
}

.stats .title {
  width: fit-content;
  margin: 0 auto;
  font-size: 39px;
  font-weight: 700;
  transition: var(--main-transition);
  z-index: 99;
  letter-spacing: -1.7px;
  color: #ececec;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 60px;
}

.stats .container .box {
  background-color: #222;
  color: #ececec;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: .5s;
  position: relative;
}
.stats .container .box::before,
.stats .container .box::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition: .7s;
}

.stats .container .box::before {
  bottom: 0;
  left: 0;
}

.stats .container .box::after {
  top: 0;
  right: 0;
}

.stats .container .box:hover::before {
  height: 100%;
}

.stats .container .box:hover::after {
  height: 100%;
}

.stats .container .box:hover {
  box-shadow: 0 0px 10px var(--box-shadow-color);
}

.stats .container .box i {
  color: #c4c4c4;
  font-size: 40px;
}

.stats .container .box .number {
  font-size: 50px;
  font-weight: 700;
  padding: 15px 0;
  color: #c4c4c4;
}

.stats .container .box .text {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
  letter-spacing: -0.5px;
}

@media (max-width: 667px) {
  .stats .title {
    font-size: 30px;
  }
}
/* End Stats */